@function tovmin($rpx) {
    @return #{$rpx * 100 / 750}vmin;
}

@mixin displayflex($x, $y) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin setpos($t, $x, $y) {
    position: $t;
    left: tovmin($x);
    top: tovmin($y);
}

@mixin setarea($w, $h) {
    width: tovmin($w);
    height: tovmin($h);
}

.wrapper-son {
    // height: tovmin(100);
    width: 100%;
    height: calc(100% - 13.33333vmin);
    position: absolute;
    bottom: 0;
    overflow: hidden;

    .t_title {
        font-size: tovmin(34);
        color: #fff;
        margin-top: tovmin(28);
        @include setarea(260, 80);
        border-radius: 0rpx tovmin(40) tovmin(40) 0rpx;
        background-color: #565E66;
        line-height: tovmin(80);
        text-align: center;
    }

    .pics {
        width: 100%;
        height: tovmin(700);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        display: flex;
        justify-content: center;
    }

    .actions {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: tovmin(24);
        @include displayflex(center, center);

        .btn {
            @include setarea(343, 104);
            @include displayflex(center, center);

            &:first-child {
                background-color: #FF6047;
                border-radius: tovmin(52) 0rpx 0rpx tovmin(52);
            }

            &:last-child {
                background-color: #24C789;
                border-radius: 0rpx tovmin(52) tovmin(52) 0rpx;
            }

            image {
                width: 100%;
                height: 100%;
                display: block;
            }

            .icon_1 {
                @include setarea(46, 45);
            }

            .icon_2 {
                @include setarea(57, 41);
            }
        }
    }

    .magnifier {
        @include setarea(112, 112);
        position: absolute;
        right: tovmin(28);
        bottom: tovmin(164);

        image {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

@media all and (orientation : landscape) {
    .wrapper-son{
        width: auto;
        height: calc(100%);
        left: tovmin(96);
        right: 0;
        .pics{
            width: auto;
            height: auto;
            transform: none;
            top: 0;
            left: 0;
            bottom: 0;
            right: tovmin(128);
        }
        .actions{
            width: tovmin(104);
            height: auto;
            flex-direction: column;
            right: tovmin(24);
            top: tovmin(104);
            .btn{
                width: 100%;
                height: 50%;
                &:first-child {
                    border-radius: tovmin(52) tovmin(52) 0rpx 0rpx;
                }
    
                &:last-child {
                    border-radius: 0rpx 0rpx tovmin(52) tovmin(52);
                }
            }
        }
    }
}